.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.header{
  width: 100%;
  top: 2;
  height: max-content;
}
.app_form {
  position: fixed;
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9e9eb;
  margin-left: 10%;
  padding: 10px;
  bottom: 10px;
  border-radius: 10px;
  z-index: 10;
  flex-direction: row;
}

.app_formControl {
  display: flex !important;
  flex-direction: row !important;
  /* justify-content: space-between !important; */
}
.app_input{
  flex: 1;
}
.app_iconButton{
  flex: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.btn{
  display: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}